.col-3 {
  border: solid 1px;
  text-align: center;
}

.unselected {
  cursor: pointer;
}

.selected {
  border: solid 3px red;
}

.bi {
  font-size: 50px;
  padding: 0.2em;
}

.red {
  color: red;
}

.blue {
  color: blue;
}

.green {
  color: green;
}

.white {
  color: white;
}
